*{
    padding: 0;
    margin: 0;
}
.image{
    background: url(cross_top.png);
    content: "";
    position: absolute;
    width: 558px;
    height: 228px;
    z-index: -1;
    top: 0;
    left: 0;
}
body{
    background-color:#17a2b8;
  
}
.ppp{
    
position: relative;
margin-top: 22%;
text-align: left;
left: +1%;
color: #fff;
font-family: sans-serif;
font-size: 50px;

}
.work {
    position: relative;
    text-align: left;
    left: +1%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 
}


    

 .juner{
    position: absolute;
    top: 20%;
    width: 100vh;
    left: 50%;
 }
.nnn{
    color: #16213E;
    position: absolute;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
   rotate: +15deg;
   top: 59%;
   right:  16.5%;

}